/*
 * Address Verification (AVR) Portal
 * Author: Adegbemi Anthony
 * Email: Adibas03@gmail.com
 * Date: 12/2015
 * Licensed to: LicensedTo
 *   License subject to changes based on agreement between  Author and Licensee *
 */


body{min-width:600px;}

md-toast.md-success-theme .md-toast-content{
background-color:#009fff;
}
md-toast.md-fail-theme .md-toast-content{
background-color:#d1111a;
}
md-toast.md-warn-theme .md-toast-content{
background-color:#ffd700;
}
md-toast.md-info-theme .md-toast-content{
background-color:#030303;
}

md-icon:parent{min-height: 5em;display:block;}

.loading_overlay{
position:fixed;
width:100%;
height:100vh;
z-index:999;
background:rgba(180,180,180,0.4) url('../img/loading.gif');
}

.side-logo{
  margin:0 auto;display:block;
}
md-sidenav header h3{text-align:center;text-decoration:none;color:#000;}


.menu-list{text-align:center;}
.menu-list.active{/*border:#ab3 1px solid;*/}
.menu-list.active md-icon{color:#ab3;}

#lft{overflow-y: visible !important}
.noscroll{overflow-y:hidden;}

.md-open-menu-container{
background-color:rgba(255,255,255,0.9);
}
.curspoint{
  cursor:pointer;
}

.col_0{color:grey;}
.col_1{color:black;}
.col_2{color:violet;}
.col_3{color:yellow;}
.col_4{color:green;}

.col_positive{color:green;}
.col_negative{color:red;}
.col_{color:gray;}

.ng-submitted md-radio-group.ng-invalid{
  border-bottom: transparent solid 0.1em;
}

ng-map>div{
  height:76% !important;
}